#header1 {
    color: green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#header2 {
    color: green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#header3 {
    color: green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#content {
    color: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#li {
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
    background-color:honeydew;
}

#table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}